<h1 id="tableLabel">Edit {{book.title}} book</h1>
<br>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="book.title" name="title" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" rows="4" cols="50" class="form-control" id="description" [(ngModel)]="book.description" name="description" required></textarea>
  </div>

  <div>
    <span>Publish date: {{ book.publishDate | date :'short' }}</span>
  </div>

  <div class="form-group">
    <hr>
    <label for="author">Authors</label>
    <div>
        <span class="author" *ngFor="let name of book.authorNames">
            <span>{{ name }}</span>
            <button class="btn btn-danger" (click)="removeAuthorName(name)" >Remove</button>
        </span>
    </div>
    <br>
    <input
      class="form-control"
      id="author"
      name="author"
      (click)="getAuthorNameAutocompletes()"
      (ngModelChange)="filterAuthorAutocompletes($event)"
      [(ngModel)]="authorName"
      autocomplete="off" required
    >
    <div class="autocompleteOptions" (click)="setAuthor(authorName)" *ngFor="let authorName of filteredAuthorNameAutocompletes">
      {{ authorName }}
    </div>
    <br>
    <button class="btn btn-primary" (click)="addAuthor()">Add Author</button>
    <hr>
  </div>
  <button class="btn btn-primary" (click)="editBook()">Save</button>
</form>