<h1>History of book changes</h1>

<br>
<p>Click on any book to see book history of changes</p>
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
    </tr>
  </thead>
  <tbody>
    <tr class="book-table-row" [routerLink]="['/book-details/', book.id]" *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>
        <span *ngFor="let author of book.authors">{{ author }}, </span>
      </td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/edit-book/', book.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
